<div class="container">
   <img src="assets/img/task-list-null.png" 
      alt="Sua Lista está vazia - imagem ilustrativa"
      loading="eager">


   <button class="btn btn-primary">Crie uma lista de tarefas</button>

   <div>
      <label class="input-label-text" for="inputValue"></label>
      <input type="text" 
            id="inputValue"
            placeholder="Adicione um novo item"
            autofocus>

      <button class="btn btn-primary"
            title="Adicionar um novo item"></button>
   </div>
</div>